div{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #222831;
  box-shadow: inset 0 0px 32px 0 rgba(0, 0, 0, 0.41), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #FFD369;
  border: 2px solid #3A3335;

  width: 100%;
  height: 100%;
  font-size: 48px;
  transition: 0.5s;
}

div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222831;

  background-color: #FFD369   ;
  border:  2px  solid #212121;

  box-shadow:  0 12px 32px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 48px;
  cursor: pointer;
}
