<h1 [innerText]="selectedSquares()"></h1>
<h1 [innerHTML]="result()"></h1>
  <div class="grid-container">
    <ng-container *ngFor="let tile of allTheTiles">
<app-square
  (click)="addToSelection(tile.uniqueId)"
  [cardContent]="tile.toString()"
  [id]="tile.uniqueId"
  [squareUniqueId]="tile.uniqueId"

>

<!--*ngFor="let tile of allTheTiles; let i= index"-->
<!--[cardContent]="tile.toString()"-->
<!--[id]="tile.uniqueId"-->
<!--[squareUniqueId]="tile.uniqueId"-->
<!--(dblclick)="clickEventCardSelector(tile.uniqueId)"-->
</app-square>
    </ng-container>
  </div>
