/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

$text: #dff3e7;
$background: #212121;
$primary: #35a0c7;
$secondary: #333333;
$accent: #ffc42f;





body{
  color: $text;
  background-color: $background;
}

app-square{

  .item{
    font-family: 'Roboto', sans-serif;

    font-weight: lighter;
    width: 100%;
    height: 100%;
  }


  .selectedItem{
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent;

    background-color: $background;
    border:  2px  solid $accent;

    box-shadow:  0 12px 32px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 48px;
    cursor: pointer;
    transition: 0.3s;
  }
  .selectedItem:hover{
    background-color: $secondary;
    transition-delay: 1s;
    transition: 0.3s;
  }

  .notSelected{
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary;
    box-shadow: inset 0 0px 32px 0 rgba(0, 0, 0, 0.41), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: $primary;
    border: 2px solid $background;


    font-size: 48px;
    transition-delay: 1s;
    transition: 0.5s;
  }
  .notSelected:hover{
    border-radius: 90px 35px 120px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary;

    background-color: $primary;
    border:  2px  solid $text;
    transition-delay: 100ms;
    transition: 0.5s;
    box-shadow:  0 12px 32px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 48px;
    cursor: pointer;
  }
  .isHidden{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    color: $background;
    border-color: $background ;
    transition-delay: 10s;
    transition: 1s;
  }


}
